<template>
  <div>
    <header class="Header">
      <div class="container">
        <h1 class="Header__Title">ระบบนัดออนไลน์</h1>
        <nav class="Header__Menu">
          <NuxtLink :to="$i18n.path('')" class="Header__Link" exact>{{
            $t('links.home')
          }}</NuxtLink>
          <NuxtLink :to="$i18n.path('about')" class="Header__Link" exact>{{
            $t('links.about')
          }}</NuxtLink>
          <NuxtLink
            v-if="$i18n.locale === 'en'"
            :to="`/th` + $route.fullPath"
            class="Header__Link"
            active-class="none"
            exact
            >{{ $t('links.thai') }}</NuxtLink
          >
          <NuxtLink
            v-else
            :to="$route.fullPath.replace(/^\/[^\/]+/, '')"
            class="Header__Link"
            active-class="none"
            exact
            >{{ $t('links.english') }}</NuxtLink
          >
        </nav>
      </div>
    </header>
    <a-locale-provider :locale="locale">
      <Nuxt />
    </a-locale-provider>
  </div>
</template>

<script>
import thTH from 'ant-design-vue/lib/locale-provider/th_TH'
export default {
  data() {
    return {
      locale: thTH
    }
  }
}
</script>

<style>
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Prompt', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
.container {
  width: 75%;
  margin: 0 auto;
}
.container:after {
  content: '';
  display: table;
  clear: both;
}
.Header {
  color: #fff;
  height: 80px;
  line-height: 80px;
  background-color: #27343b;
  border-bottom: 1px solid #fff;
}
.Header__Title {
  float: left;
  font-weight: 300;
  font-size: 30px;
}
.Header__Menu {
  float: right;
}
.Header__Link {
  font-size: 16px;
  color: #fff;
  border: 1px solid #fff;
  padding: 7px 12px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 10px;
}
.Header__Link:hover {
  color: #2e2f30;
  background-color: #fff;
}
.nuxt-link-active {
  color: cyan;
}
.Content {
  padding: 50px 0;
  text-align: center;
}
.Content__Title {
  font-weight: 300;
  padding-bottom: 30px;
}
</style>
