<template>
  <div class="layout-homer">
    <Header></Header>
    <Navigation></Navigation>
    <!-- begin: Main Wrapper -->
    <div id="wrapper">
      <NormalHeader />
      <div class="content">
        <a-locale-provider :locale="locale">
          <Nuxt />
        </a-locale-provider>
      </div>
      <RightSidebar />
      <Footer />
    </div>
    <!-- end: Main Wrapper -->
  </div>
</template>

<script>
import thTH from 'ant-design-vue/lib/locale-provider/th_TH'
import Header from '@/components/Homer/Header.vue'
import Navigation from '@/components/Homer/Navigation.vue'
import NormalHeader from '@/components/Homer/NormalHeader.vue'
import Footer from '@/components/Homer/Footer.vue'
import RightSidebar from '@/components/Homer/RightSidebar.vue'

export default {
  components: {
    Header,
    Navigation,
    NormalHeader,
    Footer,
    RightSidebar
  },
  data() {
    return {
      locale: thTH
    }
  }
}
</script>

<style scoped>
#wrapper {
  margin: 0 0 0 200px;
}
</style>
