<template>
  <div class="Content">
    <div class="container">
      <h1 class="Content__Title">{{ $t('about.title') }}</h1>
      <p>{{ $t('about.introduction') }}</p>
      <div class="row">
        <div class="col-md-6">
          <highcharts :options="chartOptions"></highcharts>
        </div>
        <div class="col-md-6">
          <highcharts :options="chartOptions2"></highcharts>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <highcharts :options="chartOptions3"></highcharts>
        </div>
        <div class="col-md-6"></div>
      </div>
    </div>
  </div>
</template>

<script>
import { Chart } from 'highcharts-vue'
import Highcharts from 'highcharts'
import exportingInit from 'highcharts/modules/exporting'
import exportDataInit from 'highcharts/modules/export-data'

if (process.client) {
  exportingInit(Highcharts)
  exportDataInit(Highcharts)
}

export default {
  transition: 'page',
  components: {
    highcharts: Chart
  },
  head() {
    return { title: this.$t('about.title') }
  },
  data() {
    return {
      chartOptions: {
        chart: {
          type: 'column'
        },
        title: {
          text: 'Monthly Average Rainfall'
        },
        subtitle: {
          text: 'Source: WorldClimate.com'
        },
        xAxis: {
          categories: [
            'Jan',
            'Feb',
            'Mar',
            'Apr',
            'May',
            'Jun',
            'Jul',
            'Aug',
            'Sep',
            'Oct',
            'Nov',
            'Dec'
          ],
          crosshair: true
        },
        yAxis: {
          min: 0,
          title: {
            text: 'Rainfall (mm)'
          }
        },
        tooltip: {
          headerFormat:
            '<span style="font-size:10px">{point.key}</span><table>',
          pointFormat:
            '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
          footerFormat: '</table>',
          shared: true,
          useHTML: true
        },
        plotOptions: {
          column: {
            pointPadding: 0.2,
            borderWidth: 0
          }
        },
        series: [
          {
            name: 'Tokyo',
            data: [
              49.9,
              71.5,
              106.4,
              129.2,
              144.0,
              176.0,
              135.6,
              148.5,
              216.4,
              194.1,
              95.6,
              54.4
            ]
          },
          {
            name: 'New York',
            data: [
              83.6,
              78.8,
              98.5,
              93.4,
              106.0,
              84.5,
              105.0,
              104.3,
              91.2,
              83.5,
              106.6,
              92.3
            ]
          },
          {
            name: 'London',
            data: [
              48.9,
              38.8,
              39.3,
              41.4,
              47.0,
              48.3,
              59.0,
              59.6,
              52.4,
              65.2,
              59.3,
              51.2
            ]
          },
          {
            name: 'Berlin',
            data: [
              42.4,
              33.2,
              34.5,
              39.7,
              52.6,
              75.5,
              57.4,
              60.4,
              47.6,
              39.1,
              46.8,
              51.1
            ]
          }
        ]
      },
      chartOptions2: {
        chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          type: 'pie'
        },
        title: {
          text: 'Browser market shares in January, 2018'
        },
        tooltip: {
          pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
              enabled: false
            },
            showInLegend: true
          }
        },
        series: [
          {
            name: 'Brands',
            colorByPoint: true,
            data: [
              {
                name: 'Chrome',
                y: 61.41,
                sliced: true,
                selected: true
              },
              {
                name: 'Internet Explorer',
                y: 11.84
              },
              {
                name: 'Firefox',
                y: 10.85
              },
              {
                name: 'Edge',
                y: 4.67
              },
              {
                name: 'Safari',
                y: 4.18
              },
              {
                name: 'Other',
                y: 7.05
              }
            ]
          }
        ]
      },
      chartOptions3: {
        chart: {
          type: 'line'
        },
        title: {
          text: 'Monthly Average Temperature'
        },
        subtitle: {
          text: 'Source: WorldClimate.com'
        },
        xAxis: {
          categories: [
            'Jan',
            'Feb',
            'Mar',
            'Apr',
            'May',
            'Jun',
            'Jul',
            'Aug',
            'Sep',
            'Oct',
            'Nov',
            'Dec'
          ]
        },
        yAxis: {
          title: {
            text: 'Temperature (°C)'
          }
        },
        plotOptions: {
          line: {
            dataLabels: {
              enabled: true
            },
            enableMouseTracking: false
          }
        },
        series: [
          {
            name: 'Tokyo',
            data: [
              7.0,
              6.9,
              9.5,
              14.5,
              18.4,
              21.5,
              25.2,
              26.5,
              23.3,
              18.3,
              13.9,
              9.6
            ]
          },
          {
            name: 'London',
            data: [
              3.9,
              4.2,
              5.7,
              8.5,
              11.9,
              15.2,
              17.0,
              16.6,
              14.2,
              10.3,
              6.6,
              4.8
            ]
          }
        ]
      }
    }
  }
}
</script>

<style scoped>
.row {
  margin-bottom: 15px;
}
</style>
