<template>
  <div class="Content">
    <div class="container">
      <section>
        <div class="row show-grid">
          <div class="col-md-12">
            <h1 class="Content__Title">{{ $t('home.title') }}</h1>
            <p>{{ $t('home.introduction') }}</p>
          </div>
        </div>
        <div class="row show-grid">
          <div class="col-md-12">
            <logo />
            <h1 class="title text-center">Web Dark Mode</h1>
            <h2 class="subtitle text-center">My impeccable Nuxt.js project</h2>
            <div class="links">
              <a
                href="https://nuxtjs.org/"
                target="_blank"
                class="button--green"
                >Documentation</a
              >
              <a
                href="https://github.com/nuxt/nuxt.js"
                target="_blank"
                class="button--grey"
                >GitHub</a
              >
            </div>
            <br />
            <div class="hidden">
              <a-button type="primary">Primary</a-button>
              <a-button>Default</a-button>
              <a-button type="dashed">Dashed</a-button>
              <a-button type="danger">Danger</a-button>
              <a-config-provider :auto-insert-space-in-button="false">
                <a-button type="primary">按钮</a-button>
              </a-config-provider>
              <a-button type="primary">按钮</a-button>
              <a-button type="link">Link</a-button>
            </div>
            <br />
            <!-- Standard button -->
            <button type="button" class="btn btn-default">Default</button>

            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-primary">Primary</button>

            <!-- Indicates a successful or positive action -->
            <button type="button" class="btn btn-success">Success</button>

            <!-- Contextual button for informational alert messages -->
            <button type="button" class="btn btn-info">Info</button>

            <!-- Indicates caution should be taken with this action -->
            <button type="button" class="btn btn-warning">Warning</button>

            <!-- Indicates a dangerous or potentially negative action -->
            <button type="button" class="btn btn-danger">Danger</button>

            <!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
            <button type="button" class="btn btn-link">Link</button>
          </div>
        </div>

        <div class="row show-grid">
          <div class="col-md-12">
            <div
              class="bs-example animated zoomIn faster"
              data-example-id="simple-alerts"
            >
              <div class="alert alert-success" role="alert">
                <strong>Well done!</strong> You successfully read this important
                alert message.
              </div>
              <div class="alert alert-info" role="alert">
                <strong>Heads up!</strong> This alert needs your attention, but
                it's not super important.
              </div>
              <div class="alert alert-warning" role="alert">
                <strong>Warning!</strong> Better check yourself, you're not
                looking too good.
              </div>
              <div class="alert alert-danger" role="alert">
                <strong>Oh snap!</strong> Change a few things up and try
                submitting again.
              </div>
            </div>
          </div>
        </div>
        <a-spin size="large" />
        <div>
          <a-progress type="circle" :percent="75" />
          <a-progress type="circle" :percent="70" status="exception" />
          <a-progress type="circle" :percent="100" />
          <a-date-picker />
          <a-range-picker />
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import Logo from '~/components/Logo.vue'
export default {
  layout: 'homer',
  transition: 'page',
  components: {
    Logo
  },
  head() {
    return { title: this.$t('home.title') }
  },
  data() {
    return {
      collapsed: false
    }
  },
  mounted() {},
  methods: {
    toggleCollapsed() {
      this.collapsed = !this.collapsed
    }
  }
}
</script>

<style scoped>
.show-grid {
  margin-bottom: 15px;
}
</style>
