<template>
  <footer class="footer">
    <span class="pull-right">
      Example text
    </span>
    Company 2015-2020
  </footer>
</template>

<script>
export default {
  name: 'Footer'
}
</script>

<style scoped></style>
