<template>
  <aside id="menu" class="app-menu">
    <vuescroll :ops="ops">
      <div id="navigation" ref="navigation">
        <div class="profile-picture">
          <a href="index.html">
            <img
              src="@/assets/images/profile.jpg"
              class="img-circle m-b"
              alt="logo"
            />
          </a>

          <div class="stats-label text-color">
            <span class="font-extra-bold font-uppercase">Robert Razer</span>

            <div class="dropdown">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                <small class="text-muted">
                  Founder of App
                  <b class="caret"></b>
                </small>
              </a>
              <ul class="dropdown-menu animated flipInX m-t-xs">
                <li>
                  <a href="contacts.html">Contacts</a>
                </li>
                <li>
                  <a href="profile.html">Profile</a>
                </li>
                <li>
                  <a href="analytics.html">Analytics</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="login.html">Logout</a>
                </li>
              </ul>
            </div>

            <div id="sparkline1" class="small-chart m-t-sm"></div>
            <div>
              <h4 class="font-extra-bold m-b-xs">$260 104,200</h4>
              <small class="text-muted"
                >Your income from the last year in sales product X.</small
              >
            </div>
          </div>
        </div>

        <a-menu
          id="side-menu"
          :default-selected-keys="['1']"
          mode="inline"
          theme="light"
          class="nav"
        >
          <a-menu-item key="1">
            <a-icon type="pie-chart" />
            <span class="nav-label">Option 1</span>
          </a-menu-item>
          <a-menu-item key="2">
            <a-icon type="desktop" />
            <span>Option 2</span>
          </a-menu-item>
          <a-menu-item key="3">
            <a-icon type="inbox" />
            <span>Option 3</span>
          </a-menu-item>
          <a-sub-menu key="sub1">
            <span slot="title">
              <a-icon type="mail" />
              <span>Navigation One</span>
            </span>
            <a-menu-item key="5">Option 5</a-menu-item>
            <a-menu-item key="6">Option 6</a-menu-item>
            <a-menu-item key="7">Option 7</a-menu-item>
            <a-menu-item key="8">Option 8</a-menu-item>
          </a-sub-menu>
          <a-sub-menu key="sub2">
            <span slot="title">
              <a-icon type="appstore" />
              <span>Navigation Two</span>
            </span>
            <a-menu-item key="9">Option 9</a-menu-item>
            <a-menu-item key="10">Option 10</a-menu-item>
            <a-sub-menu key="sub3" title="Submenu">
              <a-menu-item key="11">Option 11</a-menu-item>
              <a-menu-item key="12">Option 12</a-menu-item>
            </a-sub-menu>
          </a-sub-menu>
        </a-menu>
      </div>
    </vuescroll>
  </aside>
</template>

<script>
import vuescroll from 'vuescroll/dist/vuescroll-native'
export default {
  name: 'Navigation',
  components: {
    vuescroll
  },
  data() {
    return {
      ops: {
        vuescroll: {},
        scrollPanel: {
          speed: 500
        },
        rail: {},
        bar: {
          showDelay: 500,
          onlyShowBarOnScroll: true,
          keepShow: false,
          background: '#f1f3f6',
          opacity: 1,
          hoverStyle: false,
          specifyBorderRadius: false,
          minSize: 0,
          size: '3px',
          disable: false
        }
      }
    }
  }
}
</script>

<style scoped>
#menu {
  width: 200px;
}
</style>
