<template>
  <div class="normalheader ">
    <div class="hpanel">
      <div class="panel-body">
        <a class="small-header-action" href="">
          <div class="clip-header">
            <i class="fa fa-arrow-up"></i>
          </div>
        </a>

        <div id="hbreadcrumb" class="pull-right m-t-lg">
          <ol class="hbreadcrumb breadcrumb">
            <li><a href="index.html">Dashboard</a></li>
            <li>
              <span>Interface</span>
            </li>
            <li class="active">
              <span>Panels design</span>
            </li>
          </ol>
        </div>
        <h2 class="font-light m-b-xs">
          Panels design
        </h2>
        <small>Many panels design give you many possibilities.</small>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'NormalHeader'
}
</script>

<style scoped></style>
